* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #131515;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

h1 {
    font-family: forma-djr-banner, sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
    overflow: visible;
}


h2 {
    font-family: forma-djr-micro,sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
}

p {
    font-family: droid-sans-mono, monospace;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}

.f1 {
    font-size: calc(100% + 6vw);
    color: #131515;
}

.f2 {
    font-size: calc(50% + 1.2vw);
    color: #7D8491;
}

.f3 {
    font-size: calc(50% + 4vw);
    color: #131515;
}

.f4 {
    font-size: calc(50% + 0.8vw);
    color: #7D8491;
}

.f5 {
    font-size: calc(50% + 2vw);
    color: #131515;
}

.f6 {
    font-size: calc(50% + 0.7vw);
    color: #7D8491;
    cursor: inherit;
}

.f6.black {
    color: #131515;
}

.ov {
    overflow: visible;
}

.leftCol {
    width: 60%;
}

.rightCol {
    width: 40%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10vw 0 10vw;
    margin: auto;
    min-height: 100vh;
    max-width: 1800px;
}

.home {
    min-height: 100vh;
    padding: 50px 5vw 50px 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    width: 100%;
}

.homeTop {
    margin-top: 11vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    width: 100%;
}


.homeBottom {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease-in-out;
}

#rezLink {
    color: #FF3864;
    text-decoration: underline;
    text-decoration-color: #FF3864;
}

#introText {
    text-align: center;
    max-width: 50vw;
}

.downArrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.4s ease-in-out;
}

#arrow {
    width: 40px;
    height: 40px;
    fill: #7D8491;
    transition: 0.2s ease-in-out;
}

.downArrow:hover {
    opacity: 1 !important;
}


.downArrow:hover #arrow {
    fill: #FF3864;
}


#profilepic {
    width: 100%;
}

#profilepicbg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FF3864;
    transform: translate(8px, calc(3px - min(30vw, 450px)));
    z-index: -1;
    transition: 0.1s ease-in-out;
}

.profilepiccontainer:hover #profilepicbg{
    transform: translate(5px, calc(1px - min(30vw, 450px)));
}

.profilepiccontainer {
    height: 30vw;
    width: 20vw;
    max-height: 450px;
    max-width: 300px;
    overflow: visible;
}

.info {
    padding: 10vh 0 0 5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.infoSection {
    width: 100%;
    margin-bottom: 50px;
}

.mobileHR {
    display: none;
}

.footer {
    margin-top: 300px;
    width: 100vw;
    height: 300px;
    background-color: black;
}

.projectSection {
    position: relative;
    margin: 15px 0 125px 0;
    padding-right: 5vw;
    overflow: visible;
}

.projectTitle {
    display: inline-block;
    margin-bottom: 10px;
}

.projectTitleUnderlineContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-right: 5vw;
}

.projectTitleUnderline {
    position: relative;
    z-index: -2;
    text-decoration: underline;
    text-decoration-color: #FF3864;
    opacity: 0%;
    transition: 0.2s ease-in-out;

}

.projectSection:hover .projectTitleUnderline {
    opacity: 100%;
}

.projectTitleContainer {
    position: relative;
    display: inline-block;
}

.linkButton {
    position: relative;
    display: inline-block;
    padding: 5px 25px 6px 25px;
    border: 1px solid #FF3864;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 20px 20px 0 0;
    transition: 0.2s ease-in-out;
}

.linkButton::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #FF3864;
    transform: translate(2px, 2px);
    transition: 0.2s ease-in-out;
    z-index: -1;
}

.linkButtonText {
    font-size: calc(50% + 0.8vw);
    color: #FF3864;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.linkButton:hover {
    border-color: #FF3864;
}

.linkButton:hover .linkButtonText {
    color: #FF3864;
}

.linkButton:hover::after {
    transform: translate(1px, 1px);
}

.linkButton:active {
    background-color: #FF3864;
    transition: 0s;
}

.linkButton:active .linkButtonText {
    color: #ffffff;
    transition: 0s;
}


.aboutSection {
    position: relative;
    margin: 15px 0 40px 0;
    overflow: visible;
}

.aboutSectionHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.aboutSectionInnerHeader {
    position: relative;
}


.sectionTitleUnderlineContainer {
    position: absolute;
    top: 0px;
    left: 0px;
}

.sectionTitleUnderline {
    position: relative;
    z-index: -2;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #FF3864;
    opacity: 0%;
    transition: 0.2s ease-in-out;
}

.aboutSectionHeaderLink:hover .sectionTitleUnderline {
    opacity: 100%;
}

.aboutSectionHeaderOuterContainer {
    width: fit-content;
    margin-bottom: 40px;
}

.aboutIcon {
    min-width: calc(10px + 2vw);
    height: calc(10px + 1.25vw);
    fill: #FF3864;
    margin-right: 1.5vw;
}

#houseIcon {
    transform: translateX(-1px);
}


.aboutSectionText {
    margin-left: calc(10px + 3.5vw);
}

#contactHeader {
    margin-top: 12vh;
}

#clipboard {
    display: inline-block;
    fill: #7D8491;
    transition: 0.2s ease-in-out;
}

#clipboard:hover {
    fill: #131515;
}

#copied {
    display: none;
    fill: #FF3864;
    transition: 0.2s ease-in-out;
}


@media screen and (min-width: 1800px) {
    .f1 {
       font-size: 130px;
    }

}

@media screen and (min-width: 981px) and (max-width: 1410px) {
    /*
    .leftCol {
        width: 60%;
    }

    .rightCol {
        width: 40%;
    }
    */
}

@media screen and (max-width: 980px) {

    .f1 {
        font-size: calc(100% + 12vw);
    }

    .f2 {
        font-size: calc(50% + 4vw);
    }

    .f3 {
        font-size: calc(50% + 6vw);
    }

    .f4 {
        font-size: calc(50% + 2vw);
    }

    .f5 {
        font-size: calc(50% + 4vw);
    }

    .f6 {
        font-size: calc(50% + 2vw);
    }


    .linkButton {
        padding: 10px 40px 12px 40px;
        margin: 40px 40px 0 0;
    }

    .linkButtonText {
        font-size: 30px;
        color: #FF3864;
        cursor: pointer;
        transition: 0.1s ease-in-out;
    }

    .visit {
        display: none;
    }


    .leftCol {
        width: 100%;
    }

    .rightCol {
        width: 100%;
    }

    #name {
        text-align: center;
    }

    .home {
        padding: 0px;
        min-height: 60vh;
    }
    
    .homeTop {
        margin-top: 11vh;
        padding: 0 20px 20px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        min-height: 60vh;
    }

    #nameContainer {
        margin-bottom: 10vh;
    }

    .homeBottom {
        display: none;
    }

    .profilepiccontainer {
        height: 60vw;
        width: 40vw;
        overflow: visible;
    }

    #profilepicbg {
        transform: translate(8px, calc(3px - min(60vw, 450px)));
    }

    .profilepiccontainer:hover #profilepicbg{
        transform: translate(5px, calc(1px - min(60vw, 450px)));
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .infoSection {
        margin-bottom: 100px;
    }

    .mobileHR {
        display: inline-block;
        border: none;
        color: #7D8491;
        background-color: #7D8491;
        width: 100%;
        height: 2px;
        transform: translateY(-6px);
    }

    .footer {
        margin-top: 100px;
    }

    .projectSection {
        padding-right: 0px;
    }

    .aboutSection {
        margin: 25px 0 25px 0;
    }

    #contactHeader {
        margin-top: 85px;
    }
    
}